@charset "utf-8";
/* ==========================================================================
 Article list
========================================================================== */

.c-articleList {
	margin: 40px auto 75px;
	padding: 0 18px 25px;
	@include mq(tb) {
		margin: 40px auto 80px;
	}
	li {
		display: block;
		position: relative;
		padding-top: 34px;
		border-top: solid 1px #C9CACA;
		//box-shadow: 2px 3px 8px 0px #e2e2e2;
		&:last-child {
			border-bottom: solid 1px #C9CACA;
		}
		@include mq(tb) {
			padding-top: 0;
			//height: 455px;
		}
		> div {
			display: block;
			position: static;
			width: 100%;
			height: 100%;
			@include mq(tb) {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				margin: 70px 0;
			}
			&.is-vewOpen {
				height: auto;
			}
		}
		.c-articleList__imgWrap {
			position: relative;
			margin: 0 auto 18px;
			//padding-top: 55%;
			border: solid 1px #D6D7D7;
			width: 80%;
			@include mq(tb) {
				margin: 0;
				padding-top: 0;
				width: 48%;
				//height: 326px;
			}
			time {
				position: absolute;
				top: 1em;
				left: -2.5em;
				font-family: "Lateef";
				font-size: 2.4rem;
				color: #D6D7D7;
				transform: rotate(270deg);
				@include mq(tb) {
					font-size: 4rem;
				}
			}
		}
		figure {
			//position: absolute;
			position: relative;
			//top: 0;
			padding-top: 100%;
			width: 100%;
			//height: 100%;
			height: 0;
			overflow: hidden;
			img {
				position: absolute;
				top: 0;
				left: 0;
				//object-fit: cover;
				//object-position: center;
				width: 100%;
				height: 100%;
				transition: 10s cubic-bezier(0.65, 0.72, 0.85, 0.95);
				&:hover {
					//object-fit: cover;
					//object-position: -2em -8em;
					top: -20px;
					left: -20px;
					width: 110%;
					height: 110%;
				}
			}
		}
		.c-articleList__meta {
			@include mq(tb) {
				width: 48%;
			}	
		}
		h2,h3 {
			margin-bottom: 20px;
			font-size: 1.7rem;
			font-weight: bold;
			@include mq(tb) {
				font-size: 2.5rem;
				max-height: 140px;
				overflow: hidden;
			}
		}
		.c-articleList__message {
			position: relative;
			margin-bottom: 0;
			padding-bottom: 18px;
			max-height: 120px;
			overflow: hidden;
			font-size: 1.4rem;
			line-height: 2;
			color: map-get($color, baseLight);
			transition: 1s;
			&::after {
				content: "";
				display: block;
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
			}
			&.is-viewOpen {
				max-height: 100vh;
				&::after {
					height: 0;
					background: transparent;
				}
			}
		}
	}
}
.c-articleList__button {
	position: relative;
	margin-bottom: 70px;
	border-top: solid 1px #C9CACA;
	width: 100%;
	height: auto;
}
.c-articleList__viewDetail {
	position: absolute;
	padding: .5em 32px;
	font-family: "Lateef";
	font-size: 2.5rem;
	color: #656565;
	transition: 1s;
	cursor: pointer;
	&.is-viewOpen {
		opacity: 0;
		visibility: hidden;
	}
	@include mq(tb) {
		padding: .5em 0;
		font-size: 3rem;
		&.is-viewOpen {
			opacity: 0;
			visibility: hidden;
		}
	}
	span.c-viewDetail__arrow {
		font-size: 2rem;
		margin-left: 15px;
		font-family: "Lateef";
		@include mq(tb) {
			font-size: 3rem;
		}
	}
}
.c-articleList__closeDetail {
	position: absolute;
	padding: .5em 32px;
	font-family: "Lateef";
	font-size: 2.5rem;
	color: #656565;
	visibility: hidden;
	opacity: 0;
	transition: 1s;
	cursor: pointer;
	&.is-viewOpen {
		opacity: 1;
		visibility: visible
	}
	@include mq(tb) {
		padding: .5em 0;
		font-size: 3rem;
		&.is-viewOpen {
			opacity: 1;
			visibility: visible
		}
	}
	span.c-viewDetail__arrow {
		font-size: 2rem;
		margin-left: 15px;
		font-family: "Lateef";
		@include mq(tb) {
			font-size: 3rem;
		}
	}
}
.c-pageNavi {
	display: flex;
	margin: 0 auto;
	width: 70%;
	@include mq(tb) {
		width: 30%;
	}
	span, a {
		padding: .5em 1em;
		font-size: 2rem;
		@include mq(tb) {
			font-size: 2.6rem;
		}
	}
	a:hover {
		opacity: 80%;
		transition: .3s;
	}
	.c-currentPage {
		padding: .5em 1em;
		border: solid 1px #000;
		border-radius: 50%;
	}
}