@charset "utf-8";
/* ==========================================================================
 Button
========================================================================== */

.c-button__broad {
	@include buttonBasic;
	font-family: "Lateef";
	font-size: 2rem;
}
.c-button__short {
	@include buttonBasic;
	margin: 0 auto;
	width: 67%;
	font-family: "Lateef";
	font-size: 2rem;
	@include mq(tb) {
		width: 50%;
	}
}