@charset "utf-8";
/* ==========================================================================
 Contents
========================================================================== */

.c-point {
	position: relative;
	min-height: 700px;
	@include mq(pc) {
		min-height: 600px;
	}
	> * {
	}
	>:first-child {
		display: flex;
		flex-direction: column;
		margin-top: -1em;
		margin-bottom: 2em;
		margin-left: -40px;
		padding-bottom: 2em;
		background: #fff;
		> * {
			width: 100%;
		}
		p {
			padding-left: 1.5em;
		}
		@include mq(pc) {
			flex-direction: row;
			justify-content: space-between;
			position: relative;
			> * {
				width: 45%;
			}
			p {
				position: absolute;
				right: -4em;
				bottom: 0;
				width: 60%;
			}
		}
		figure {
			width: 60%;
			img {
				width: 100%;
			}
		}
	}
}
.c-colorvar {
	display: flex !important;
	flex-wrap: wrap !important;
	justify-content: start !important;
	margin: 2em 0;
	li {
		display: flex !important;
		position: static !important;
		width: 33% !important;
		margin-bottom: 1em;
		@include mq(tb) {
			width: 30% !important;
		}
		figure {
			margin-right: .5em;
			border: solid 1px #ddd;
			width: 40px !important;
			height: 40px !important;
			@include mq(tb) {
				width: 50px !important;
				height: 50px !important;
			}
			img {
				width: 100% !important;
			}
		}
		p {
			margin-right: .5em;
			font-size: 1.1rem !important;
			text-align: left;
			line-height: 1.5 !important;
			@include mq(tb) {
				font-size: 1.4rem !important;
			}
		}
	}
}