@charset "utf-8";
/* ==========================================================================
 Contents
========================================================================== */

.p-leadContents {
	margin-bottom: 65px;
	@include mq(tb) {
		margin-bottom: 96px;
	}
	figure {
		text-align: right;
		img {
			width: 60%;
		}
	}
	h2 {
		margin: 35px 0;
		font-size: 2.4rem;
		font-weight: bold;
	}
	p {
		margin-bottom: 35px;
		font-size: 1.6rem;
		line-height: 2.5;
	}
	ul {
		justify-content: space-between;
		li {
			width: 47%;
			figure {
				display: inline-block;
			}
			&:first-child {
				figure {
					margin-top: 7em;
					text-align: left !important;
					img {
						width: 100%;
						@include mq(tb) {
							width: 95%;
						}
					}
				}
			}
			&:nth-child(2) {
				figure {
					text-align: center;
					@include mq(tb) {
						margin-left: 100px
					}
					img {
						width: 100%;
						@include mq(tb) {
							width: 95%;
						}
					}
				}
			}
			
		}
	}
	@include mq(tb) {
		> div {
			justify-content: space-between;
			margin-bottom: -5em;
			figure {
				width: 48%;
				text-align: center;
				img {
					width: 80%;
				}
			}
		}
		> div > div {
			width: 52%;
		}
		h2 {
			font-size: 3rem;
		}
	}
}

//on-off
.p-on-off {
	.p-paragraphHeading {
		display: flex;
		flex-direction: column;
		position: relative;
		margin-bottom: 0;
		min-height: 290px;
		background-image: url("images/on-off.png");
		background-repeat: no-repeat;
		background-size: 60%;
		background-position: right 50%;
		h2 {
			width: 80%;
			max-width: 340px;
			font-family: "Amiri";
			line-height: 0;
			color: #fff;
			transition: .7s;
			> span {
				display: block;
			}
			span:first-child {
				text-align: left;
				span {
					display: inline-block;
					padding: 0 .5em;
					background: #1B2950;
					line-height: 1;
					font-size: 6rem;
					span {
						padding: 0;
						font-weight: normal;
					}
				}
			}
			span:last-child {
				text-align: right;
				span {
					display: inline-block;
					padding: .2em .5em;
					background: #1B2950;
					line-height: 1;
					font-size: 2.7rem;
					font-weight: bold;
				}
			}
		}
		p {
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
			font-size: 1.6rem;
			text-align: center;
			line-height: 2;
		}
		@include mq(pc) {
			flex-direction: row;
			min-height: 265px;
			margin-bottom: 80px;
			background-image: url("images/on-off.png");
			background-size: 40%;
			background-repeat: no-repeat;
			background-position: 90% 0;
			& > * {
				width: 50%;
			}
			h2 {
				margin-top: 3em;
				width: 50%;
				max-width: 50%;
				span:first-child {
					text-align: left;
					span {
						display: inline-block;
						padding: 0 .3em 0 .8em;
						background: #1B2950;
						line-height: 1;
						font-size: 11rem;
					}
				}
				span:last-child {
					text-align: right;
					span {
						display: inline-block;
						padding: .2em 1em .1em;
						background: #1B2950;
						line-height: 1;
						font-size: 5.5rem;
						font-weight: bold;
					}
				}
			}
			p {
				position: absolute;
				left: auto;
				right: 0;
			}
		}
	}
	.p-on-off__upperBlock {
		&:not(:last-child) {
			margin-bottom: 50px;
		}
		@include mq(tb) {
			&:not(:last-child) {
				margin-bottom: 105px;
			}
		}
		> h3 {
			position: relative;
			height: 100px;
				figure {
					position: absolute;
					right: 0;
					bottom: 20px;
					width: 240px;
					height: 15px;
					background: #F3F4F8;
					img {
						position: absolute;
						left: 1em;
						bottom: -5px;
						width: 70%;
					}
				}
			@include mq(tb) {
				height: auto;
				figure {
					right: 0;
					bottom: -30px;
					width: 400px;
					height: 24px;
					img {
						position: absolute;
						left: 3em;
						bottom: -5px;
					}
				}
			}
		}
		> ul {
			margin-bottom: 1em;
			li {
				display: block;
				&:nth-child(2) {
					margin-top: 2em;
				}
				figure {
					img {
						width: 100%;
					}
				}
				@include mq(tb) {
					&:nth-child(2) {
						margin-top: 5em;
					}
					& {
						display: block;
						p {
							padding: 0 3em;
						}
						figure {
							padding: 0 3em;
						}
					}
				}
			}
		}
	}
	.p-on-off__lowerBlock:first-child {
		margin-bottom: 2em;
		padding: 1em 0 2em 2em;
		border-left: solid 4px #1B2950;
		border-bottom: solid 1px #1B2950;
		@include mq(tb) {
			//margin-bottom: 10em;
		}
		h3 {
			margin-bottom: 2em;
			font-size: 2rem;
			font-weight: bold;
			@include mq(tb) {
				font-size: 2.6rem;
			}
		}
		p {
			font-size: 1.6rem;
			line-height: 2;
		}
	}
	.p-on-off__lowerBlock:nth-child(2) {
		@include mq(tb) {
			margin-top: 2em;
		}
	}
}
.p-on-off__colorvar {
	@include mq(tb) {
		margin: 4em 0 !important;
	}
}

//scene
.p-scene {
	.p-paragraphHeading {
		position: relative;
		margin-top: 50px;
		margin-bottom: 60px;
		min-height: 170px;
		background-image: url("images/scene.png");
		background-repeat: no-repeat;
		background-size: 40%;
		background-position: right 0%;
		transition: .7s;
		@include mq(tb) {
			min-height: 400px;
		}
		@include mq(pc) {
			min-height: 350px;
			background-size: 25%;
		}
		h2 {
			display: block;
			position: relative;
			width: 100%;
			height: 100%;
			font-family: "Noto sans Jp";
			line-height: 0;
			transition: .7s;
			> span {
				display: inline-block;
				position: absolute;
				font-size: 2.7rem;
				font-weight: bold;
				transform: .7s;
				@include mq(tb) {
					height: 90px;
					font-size: 5.5rem;
				}
			}
			span:first-child {
				top: 1em;
				padding: .1em 1.8em;
				background: #1B2950;
				line-height: 1.3;
				color: #fff;
				@include mq(tb) {
					top: 100px;
				}
			}
			span:last-child {
				top: 3em;
				right: 2em;
				width: 100%;
				text-align: right;
				&::before {
					content: "";
					display: block;
					position: absolute;
					top: 0;
					right: -2em;
					width: 280px;
					height: 1px;
					background: #000;
					@include mq(tb) {
						width: 400px;
						height: 1px;
					}
					@include mq(pc) {
						width: 100%;
						height: 2px;
					}
				}
				&::after {
					content: "";
					display: block;
					position: absolute;
					bottom: 0;
					right: 0;
					width: 375px;
					height: 1px;
					background: #000;
					@include mq(pc) {
						width: 120%;
						height: 2px;
					}
				}
				@include mq(tb) {
					top: 200px;
				}
				@include mq(pc) {
					top: 140px;
					width: auto;
				}
			}
		}
		p {
			position: absolute;
			bottom: 0;
			width: 100%;
			font-size: 1.6rem;
			text-align: center;
			line-height: 1.5;
		}
	}
}
.p-scene__pattern {
	margin-bottom: 50px;
	padding: 0;
	@include mq(tb) {
		margin-bottom: 70px;
		padding: 0 100px;
	}
	justify-content: space-between;
	li {
		figure {
			width: 100%;
			img {
				width: 100%;
			}
		}
		a {
			display: block;
			padding: 1em 0;
			width: 100%;
			background: rgba($color: #1B2950, $alpha: 0.4);
			font-family: "Amiri";
			font-size: 1.5rem;
			font-weight: normal;
			text-align: center;
			color: #fff;
			@include mq(tb) {
				padding: .2em;
				font-size: 4rem;
			}
		}
	}
}
.p-scene__elements {
	position: relative;
	margin: 0 auto 50px;
	padding-bottom: 20px;
	width: 90%;
	&::after {
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 1px;
		background: #000;
	}
	@include mq(tb) {
		margin: 0 auto 55px;
		padding-bottom: 55px;
		width: 75%;
		height: 850px;
		&::after {
			left: -10%; 
			bottom: 0;
			width: 120%;
			height: 2px;
		}
	}
	h3 {
		font-family: "Amiri";
		font-size: 4.6rem;
		@include mq(tb) {
			width: 45%;
			font-size: 8rem;
		}
	}
	h3.u-fontAdjust {
		@include mq(tb) {
			line-height: .8;
		}
		@include mq(pc) {
			line-height: 1.5;
		}
	}
	p {
		font-size: 1.6rem;
		line-height: 2;
		@include mq(tb) {
			width: 45%;
			span {
				display: inline-block;
				width: 60%;
				font-size: 1.4rem;
				line-height: 2;
			}
		}
	}
	figure {
		width: 100%;
		img {
			width: 100%;
		}
		@include mq(tb) {
			width: 45%;
		}
	}
	ul.p-scene__elements__styling {
		position: relative;
		z-index: 0;
		height: 260px;
		&.pattern2 {
			@include mq(tb) {
				right: -5em !important;
				bottom: 9em !important;
				left: auto;
			}
			li {
				&:first-child {
					top: 0;
					right: 0;
					left: auto;
				}
				&:nth-child(2) {
					left: 0;
					bottom: 0;
				}
			}
		}
		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
			margin: auto;
			width: 60%;
			height: 70%;
			background: #F3F4F8;
			@include mq (tb) {
				width: 60%;
			}
		}
		@include mq(tb) {
			position: absolute;
			bottom: 10em;
			left: -5em;
			width: 50%;
			height: 40%;
		}
		li {
			position: absolute;
			width: 48%;
			&:first-child {
				top: 0;
				left: 0;
			}
			&:nth-child(2) {
				right: 0;
				bottom: 0;
			}
			a {
				display: block;
				width: 100%;
				figure {
					width: 100%;
					img {
						width: 100%;
					}
				}
			}
		}
	}
	.p-sceneElement__floatingText {
		font-size: 1.4rem;
		@include mq(tb) {
			position: absolute;
			right: 10%;
			width: 30% !important;
			&.pattern2 {
				right: auto;
				left: 20% !important;
				width: 30% !important;
			}
		}
	}
	.p-scene__elementsPriceTable {
		width: 100%;
		@include mq(tb) {
			width: 50% !important;
		}
	}
	.p-sceneElement__topRight {
		@include mq(tb) {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	.p-sceneElement__bottomRight {
		@include mq(tb) {
			position: absolute;
			bottom: 0;
			right: -2em;
		}
	}
	.p-sceneElement__bottomLeft {
		@include mq(tb) {
			position: absolute;
			bottom: 0;
			left: -2em;
		}
	}
	.p-sceneElement__centerLeft {
		@include mq(tb) {
			position: absolute;
			top: 35%;
			left: 0;
		}
	}
	.p-sceneElement__upperRight {
		@include mq(tb) {
			position: absolute;
			top: 15%;
			right: 0;
		}
	}
	.p-sceneElement__centerRight {
		@include mq(tb) {
			position: absolute;
			top: 40%;
			right: 0;
		}
	}
	.p-sceneElement__colorvarA {
		padding: 0 0 3em;
		@include mq(tb) {
			position: absolute;
			bottom: 0;
			width: 50%;
		}
	}
	.p-sceneElement__colorvarB {
		padding: 0 0 3em;
		@include mq(tb) {
			position: absolute;
			bottom: 0;
			right: -5em;
			padding: 0;
			width: 50%;
		}
	}
	.p-sceneElement__colorvarC {
		padding: 0 0 3em;
		@include mq(tb) {
			position: absolute;
			bottom: 0;
			right: -8em;
			padding: 0;
			width: 50%;
		}
	}
}

//trend
.p-trend {
	.p-paragraphHeading {
		position: relative;
		margin-top: 50px;
		margin-bottom: 60px;
		min-height: 190px;
		background-image: url("images/trend.png");
		background-repeat: no-repeat;
		background-size: 40%;
		background-position: right 1%;
		transition: .7s;
		@include mq(tb) {
			padding: 0 60px;
			min-height: 400px;
		}
		@include mq(pc) {
			min-height: 350px;
			background-size: 30%;
			background-position: 97% 1%;
		}
		h2 {
			display: block;
			position: relative;
			width: 100%;
			height: 100%;
			font-family: "Noto sans Jp";
			line-height: 0;
			transition: .7s;
			> span {
				display: inline-block;
				position: absolute;
				padding: .1em 1em;
				box-sizing: border-box;
				font-size: 2.7rem;
				font-weight: bold;
				transform: .7s;
				@include mq(tb) {
					width: 50%;
					height: 90px;
					font-size: 3rem;
				}
			}
			span:first-child {
				top: 1em;
				border: solid 2px #000;
				line-height: 1.3;
				@include mq(tb) {
					top: 100px;
					text-align: center;
					line-height: 2.5;
				}@include mq(pc) {
					font-size: 5.5rem;
					line-height: 1.3;
				}
			}
			span:last-child {
				top: 70px;
				right: 0;
				background: #1B2950;
				color: #fff;
				@include mq(tb) {
					top: 145px;
					right: 2px;
					line-height: 2.5;
				}
				@include mq(pc) {
					font-size: 5.5rem;
					line-height: 1.3;
				}
			}
		}
		p {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			font-size: 1.6rem;
			text-align: center;
			line-height: 1.5;
		}
	}
}
.p-trend__elements {
	position: relative;
	margin: 0 auto 50px;
	width: 90%;
	@include mq(tb) {
		margin: 0 auto 55px;
		padding-bottom: 55px;
		height: 620px;
	}
	p {
		font-size: 1.6rem;
		line-height: 2;
	}
	p.p-trend__elements__sentence1 {
		@include mq(tb) {
			position: absolute;
			top: 7em;
			margin-left: 35%;
			width: 65%;
		}
	}
	p.p-trend__elements__sentence2 {
		margin-bottom: 30px;
		font-size: 1.4rem;
		@include mq(tb) {
			position: absolute;
			top: 15em;
			margin-left: 35%;
			width: 30%;
		}
	}
	p.p-trend__elements__sentence__addIn {
		margin-bottom: 30px;
		font-size: 1.4rem;
		@include mq(tb) {
			position: absolute;
			width: 30%;
		}
	}
	> h3 {
		margin-bottom: .5em;
		font-family: "Noto Serif JP";
		font-size: 4.6rem;
		font-weight: bold;
		@include mq(tb) {
			position: absolute;
			right: 0;
			margin-left: 35%;
			width: 65%;
			font-size: 5.4rem;
		}
	}
	> figure {
		margin: 1em 0;
		width: 100%;
		img {
			width: 100%;
		}
		@include mq(tb) {
			position: absolute;
			top: 0;
			left: 0;
			width: 30%;
		}
	}
	ul {
		display: flex;
		justify-content: space-between;
		@include mq(tb) {
			display: block;
			position: absolute;
			top: 13em;
			width: 100%;
		}
		li {
			width: 48%;
			transition: .7s;
			a {
				display: block;
			}
			@include mq(tb) {
				position: absolute;
				&:first-child {
					top: 12em;
					left: 5em;
					width: 178px;
					figure {
						display: inline-block;
					}
				}
			
				&:nth-child(2) {
					right: 0;
					width: 210px;
					text-align: right;
				}
			}
			@include mq(pc) {
			&:first-child {
					top: 12em;
					left: 17em;
				}
			}
			figure {
				width: 100%;
				img {
					width: 100%;
				}
			}
		}
	}
	.p-trend__elementsPriceTable {
		width: 100%;
		@include mq(tb) {
			position: absolute;
			right: 0;
			bottom: 100px;
			width: 50% !important;
		}
	}
}
.p-trend__elements.p-pattern2 {
	p.p-trend__elements__sentence1 {
		@include mq(tb) {
			margin-left: 55%;
			width: 45%;
		}
	}
	p.p-trend__elements__sentence2 {
		margin-bottom: 30px;
		font-size: 1.4rem;
		@include mq(tb) {
			position: absolute;
			top: 15em;
			margin-left: 55%;
			width: 23%;
		}
	}
	> h3 {
		font-family: "Amiri";
		font-size: 4.6rem;
		@include mq(tb) {
			position: absolute;
			right: 0;
			margin-left: 55%;
			width: 45%;
			font-size: 8rem;
		}
	}
	> figure {
		margin: 1em 0;
		width: 100%;
		img {
			width: 100%;
		}
		@include mq(tb) {
			position: absolute;
			top: 0;
			left: 0;
			width: 50%;
		}
	}
}

//register
.p-registerButton__wrapper {
	display: flex;
	justify-content: space-between;
	position: fixed;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	width: 100%;
	@include mq(pc) {

		right: 1em;
		bottom: 1em;
		width: 540px;
	}
}
.p-registerButton {
	display: block;
	position: relative;
	padding: .8em 1em;
	z-index: 0;
	width: 50%;
	background: #9B3560;
	overflow: hidden;
	visibility: hidden;
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	color: #fff !important;
	transition: .5s;
	&::after {
		content: "";
		display: block;
		position: absolute;
		top: -6.1em;
		left: -1em;
		z-index: -1;
		width: 110%;
		height: 250%;
		background: #b66a8aa6;
		transform: rotate(171deg);
		transition: .5s;
		@include mq(pb) {
			transform: rotate(174deg);
		}
		@include mq(pc) {//tb→pc
			top: -7em;
			transform: rotate(169deg);
		}
	}
	@include mq(pc) {//tb→pc
		padding: 1em 3.5em;
		width: 49%;
	}
}
.p-registerButton.p-registerButton__2nd {
	right: auto;
	left: 0;
	background: #f69007;
	&::after {
		background: #beb4aea6;
	}
	@include mq(pc) {//tb→pc
		right: -25em;
	}
	
}

.p-trend__elements__colorvarTitle {
	font-weight: bold;
	@include mq(tb) {
		position: absolute;
		width: 50%;
	}
}
.p-trend__elements__colorvarA {
	@include mq(tb) {
		position: absolute !important;
		top: auto !important;
		bottom: 0 !important;
		left: 0 !important;
		width: 450px !important;
	}
}

.p-registerButton.is-appered {
	visibility: visible;
}