@charset "utf-8";
/* ==========================================================================
 effect
========================================================================== */

.u-LH07 {
	line-height: .7 !important;
}


.u-flexHalfHeading {
	font-size: 3.8rem;
	line-height: 1.8;
}

.u-rubyBottom {
	position: absolute;
	bottom: -.15em;
	left: 0;
	font-family: "Noto Serif JP" !important;
	font-size: .2em !important;
	&.u-bottom0 {
		bottom: 0;
	}
	&.u-bottom-10 {
		bottom: -10px;
	}
	@include mq(tb) {
		bottom: 3em;
		font-size: .07em !important;
		&.u-bottom0 {
			bottom: 0;
		}
		&.u-bottom-10 {
			bottom: -10px;
		}
		&.u-pagetop{
			bottom: 2em;
			font-size: 1.2rem !important;
		}
		&.u-fs07 {
			font-size: .7em !important;
		}
	}
}
.u-rubyBottomCenter {
	display: inline-block;
	position: absolute;
	right: 0;
	left: 0;
	bottom: -2.15em;
	left: 0;
	margin: 0 auto;
	width: auto;
	height: auto;
	text-align: center;
	font-family: "Noto Serif JP" !important;
	font-size: .22em !important;
	@include mq(tb) {
		bottom: -2em;
		font-size: .15em !important;
		&.u-MVrubyG-stage {
			bottom: 1em;
		}
	}
}
.u-colorRed {	
	color: #FF5252;
}
.u-caution {
	vertical-align: top;
	font-size: 1rem;
	color: #FF5252;
}

.u-headingLink {
	display: inline-block;
	margin: 0px 0 20px;
	font-size: 1.8rem;
	color: #306EA3 !important;
	&::before {
		content: "≫";
		display: inline-block;
		margin-right: 10px;
	}
}

.u-paragraphDash110 {
	&::after {
		content: "";
		display: inline-block;
		margin-bottom: .3em;
		width: 110px;
		height: 1px;
		background: #000;
	}
}

.u-specialFont1 {
	width: 300px !important;
	font-size: 3.7em !important;
	text-align: left;
	@include mq(tb) {
		width: 72% !important;
		font-size: 6em !important;
	}
	@include mq(pc) {
		width: 850px !important;
		font-size: 11em !important;
	}
}

.u-fs-18 {
	font-size: 1.8rem !important;
}